<!-- <!DOCTYPE html> -->
<html>
<head>
  <title>IoT Blinky App</title>
  <link href="stylesheets/iot-light.css" rel="stylesheet"/>
  <script src="javascripts/iot-light.js" async></script>
</head>
<body>
  <div class="console">
    <h1>Press the button!</h1>
    <button class="blink-button">
      Go
    </button>
  </div>
</body>
</html>
